<!-- Installing Locally Section -->
<section id="advanced-use">
    <h2 class="section-header">📄 Advanced Use</h2>
    <div class="card">
        <div class="card-body">
            <h5>Installing locally</h5>
            <p>
  Reasons to install locally include working offline, avoiding server outages, and enabling modification or customization.
  Follow these steps to install using Anaconda or Mamba:
</p>
<ol>
  <li>Clone the repository using git:</li>
</ol>
<pre><code>git clone https://github.com/uit-no/lickcalc.git
cd lickcalc
</code></pre>
<ol start="2">
  <li>Create and activate the environment:</li>
</ol>
<pre><code>conda env create -f environment.yml
conda activate lickcalc
</code></pre>
<ol start="3">
  <li>Run the app:</li>
</ol>
<pre><code>python app.py
</code></pre>
<ol start="4">
  <li>Open a browser and go to <code>localhost:8050</code></li>
</ol>

          
        </div>

        <div class="card-body">
            <h5>Using underpinning functions</h5>
            <p>The application is based on a utility included in the package <code>trompy</code>. It can be installed via <code>pip</code> and is hosted on Github at <a href="https://www.github.com/mccutcheonlab/trompy" target="_blank">https://www.github.com/mccutcheonlab/trompy</a>.

            The function <code>lickcalc</code> calls a class, <code>Lickcalc</code>, and is documented fully in the parent package. <code>trompy</code> also includes the file parsers and some helper functions
            Some example code using the function follows:</p>   
            <div class="code-block">
from pathlib import Path
import trompy

DATAFOLDER = Path("../data")
list_of_files = [
    "med_test2.med",
    "med_test3.med"
]

results_dict = {}
for file in list_of_files:
    results_dict[file] = {}
    onset, offset = trompy.medfilereader(DATAFOLDER / file,
                                         varsToExtract=["b", "c"],
                                         remove_var_header=True
                                         )

    lickdata = trompy.lickcalc(onset, offset=offset,
                                #some variables
                                )
    results_dict[file]["total_licks"] = lickdata["total"]
    results_dict[file]["burst_number"] = lickdata["bNum"]
    results_dict[file]["licks_per_burst"] = lickdata["bMean"]
  </div>

        </div>
    </div>
</section>

